<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en " }}">

{%- include head.html -%}
<script>
function myFunction() {
  var x = document.getElementById("myDIV");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
} 
</script>
    
<body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
        <div class="wrapper">

            {%- include about.html -%}

            <center><button onclick="myFunction()">Read more info about me...</button></center>
            <div id="myDIV" style="display:none">  
                   {%- include more.html -%}
            </div>
            
            {%- if site.data.projects.size > 0 -%}
                {%- include projects.html -%}
            {%- endif -%}

            {%- if site.data.experience.size > 0 -%}
                {%- include experience.html -%}
            {%- endif -%}

            {%- if site.data.education.size > 0 -%}
                {%- include education.html -%}
            {%- endif -%}



        </div>
    </main>

    {%- include footer.html -%}

</body>

</html>
